* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(to right, #7f53ac, #657ced);
}
.container {
  position: absolute;
  width: 50%;
  min-height: 580px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background: #fff;
  padding: 50px 10px;
  border-radius: 5px;
  display: grid;
  justify-items: center;
  font-family: "poppins", sans-serif;
}
.container1 {
  position: relative;
  display: flex;

  justify-content: space-between;
}

.container2 {
  position: relative;
  display: grid;
  padding-right: 100px;
  padding-left: 100px;
  justify-content: space-between;
}

h3 {
  font-size: 30px;
  font-weight: 600;
}
span {
  color: red;
}
#saniye_basina_deger {
  width: 90px;
  font-weight: 600;
  padding: 15px 0;
  font-size: 28px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 50%;
  border: 2px solid #202020;
  color: #f50c0c;
}

#kalan_sayi {
  width: 500px;
  font-weight: 600;
  padding: 15px 0;
  font-size: 28px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 50%;
  border: 2px solid #202020;
  color: #353399;
}

button {
  width: 160px;
  padding: 10px 0;
  border-radius: 80px;
  background-color: #663399;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}
p {
  font-weight: 400;
}
